.dropdown-menu.show {
    --bs-dropdown-link-hover-bg: #6f53a0;
    --bs-dropdown-bg: #5E42A6;
}

.navbar-collapse {
    flex-grow: 0;
}

.title {
    border: 0;
    color: #ffffff;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

#footer .inner {
    padding-top: 3em;
    height: 6.75em;
}

.navbar-nav .nav-link.active {
    border: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em
}

.nav-link, .dropdown-item {
    border: 0;
    color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 0.8em;
    text-align: center;
}
.form-control{
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

.nav-link:hover, .dropdown-item:hover {
    color: rgba(255, 255, 255, 0.55);
}

.navbar-toggler {
    font-size: x-small;
}

ul li {
    margin-left: 0;
}

ul.actions li {
    width: 50%;
    text-align: center;
}

input[type="submit"].primary,
input[type="reset"],
[type=submit]:not(:disabled){
    width: 100%;
}

#pageIllustration {
    padding-top: 1em;
    width: 450px;
    height: 450px;
}

.table {
    --bs-table-bg: #FFBECF;
    margin: 0 -1.5em 0 1.5em;
    --bs-table-color: #96465C;
}

button:after {
    border-radius: 0;
}

h1.major {
    margin: 0 0 0.5em 0;
    text-align: center;
}

hr {
    transition: max-width 0.2s ease;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    border-radius: 0.2em;
    height: 0.05em;
    border-bottom: solid 1px;
    opacity: 1;
}

.alert-success {
    --bs-alert-bg: #ffd4e0;
    --bs-alert-color: #be3e61;
}

#transferPart {
    text-align: center;
}

#userBalance {
    color: #e9a3b6;
}

#transferButton {
    height: 10em;
    width: 10em;
}

#CoinIllustration {
    height: 100%;
    width: 100%;
}

.row {
    margin-top: 30px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    color: #96465C;
}

.btn-outline-primary {
    --bs-btn-hover-bg: #7A658B;
}


@media screen and (max-width: 1200px) {
    #transferButton {
        height: 9em;
        width: 9em;
    }
}

@media screen and (max-width: 1050px) {
    #transferButton {
        height: 8em;
        width: 8em;
    }
}

@media screen and (max-width: 991px) {
    #transferButton {
        height: 10em;
        width: 10em;
    }

    #transferPart {
        text-align: left;
    }

    #transferPart h2 {
        padding-top: 30px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 565px) {
    #transferButton {
        height: 7em;
        width: 7em;
    }
}

@media screen and (max-width: 480px) {
    #pageIllustration {
        padding-top: 1em;
        width: 300px;
        height: 300px;
    }

    .table {
        margin: 0 1.5em 0 0.8em;
    }
    .form-check-inline{
        margin-right: -1rem;
    }
}

@media screen and (max-width: 412px) {
    #transferButton {
        height: 5em;
        width: 5em;
    }
}