.dropdown-menu.show {
    --bs-dropdown-link-hover-bg: #543899;
    --bs-dropdown-bg: #543899;
}

.navbar-collapse {
    flex-grow: 0;
}

.title {
    border: 0;
    color: #ffffff;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

#footer .inner{
    padding-top: 3em;
    height: 6.75em;
}

.navbar-nav .nav-link.active {
    border: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em
}

.nav-link, .dropdown-item {
    border: 0;
    color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 0.8em;
    text-align: center;
}

.nav-link:hover, .dropdown-item:hover {
    color: rgba(255, 255, 255, 0.55);
}

.navbar-toggler {
    font-size: x-small;
}

#pageIllustration {
    padding-top: 1em;
    width: 450px;
    height: 450px;
}

@media screen and (max-width: 480px) {
    #pageIllustration {
        padding-top: 1em;
        width: 300px;
        height: 300px;
    }
}


button:after {
    border-radius: 0;
}

h1.major{
    margin: 0 0 0.5em 0;
    text-align: center;
}

hr{
    transition: max-width 0.2s ease;
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    border-radius: 0.2em;
    height: 0.05em;
    border-bottom: solid 1px;
    opacity: 1;
}

.alert-success{
    --bs-alert-bg: #ffd4e0;
    --bs-alert-color: #be3e61;
}