<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <title>托托的工具箱</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/allPage.css}">
    <link rel="stylesheet" th:href="@{/css/coinPage.css}">
    <link rel="stylesheet" th:href="@{/css/randomFood.css}">
    <link rel="stylesheet" th:href="@{/css/icu.css}">
    <noscript>
        <link rel="stylesheet" th:href="@{/css/noscript.css}"/>
    </noscript>
</head>
