<head th:replace="header :: head">
</head>
<div class="icu">
    <h1 class="major">逮到你了</h1>
    <div class="information">
        <div class="alert" role="alert">
            <h2>你看看你你看看你，淘气了吧，被我逮到了吧？</h2>
            <h2>你说说你，好好地在我给你的输入框里输入你该输入的东西多好</h2>
            <h2>非要来</h2>
            <h1>骗</h1>
            <h2>来</h2>
            <h1>偷袭</h1>
            <h2>你看看 这一下就吓到了吧</h2>
            <h2>下次不许了啊！</h2>
            <h2>下面回到主页的传送门</h2>
            <h2>慢走不送</h2>
            <hr>
            <p>👇</p>
            <a th:href="@{/index}" class="alert-link">人要懂得迷途知返</a>
        </div>
    </div>
</div>
<footer th:replace="signature"></footer>
<div th:replace="footer"></div>