<head th:replace="/header :: head">
</head>
<nav th:replace="/header :: menu(4)">
</nav>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <img th:src="@{/images/logInIllustration.png}" class="rounded mx-auto d-block" alt="Icon Image Not Found"
             id="pageIllustration">
        <div class="inner">

            <h1 class="major">登录</h1>
            <!-- Form -->
            <section>
                <form method="get">
                    <div class="row gtr-uniform">
                        <h3>邮箱</h3>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="邮箱"/>
                        </div>

                        <h3>密码</h3>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" name="demo-email" id="demo-email" value="" placeholder="密码"/>
                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="登录" class="primary" th:formaction="@{/logIn}"/></li>
                                <li><input type="reset" value="重新输入"/></li>
                                <li><input type="submit" th:formaction="@{/signIn}" value="没有账号？在这里注册"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </section>

</div>

<footer th:replace="/footer"></footer>