<head th:replace="header :: head">
    <html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
</head>
<nav th:replace="header :: menu(3)">
</nav>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <img th:src="@{/images/randomNumberIllustration.png}" class="rounded mx-auto d-block" alt="Icon Image Not Found"
             id="pageIllustration">
        <div class="inner">
            <h1 class="major">
                随机数
            </h1>
            <div class="alert alert-success" role="alert">
                <h2 class="alert-heading">欢迎使用随机数功能</h2>
                <p>在这个页面，您将被允许输入一个起始值，一个结束值，一个生成个数。作为您辛苦输入的回报，你可以得到系统为您生成的随机数。</p>
                <p>这里有两条规则您必须在使用时遵守：</p>
                <p>1：起始值必须小于结束值</p>
                <p>2：结束值-起始值必须大于生成个数</p>
                <hr>
                <h3 class="alert-heading">最后，祝您在规则下玩的开心！</h3>
            </div>


            <!-- Form -->
            <section>
                <form method="get">
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <h3>起始值</h3>
                            <input type="text" name="beginValue" value="0"/>
                        </div>

                        <div class="col-12">
                            <h3>末尾值</h3>
                            <input type="text" name="endValue" value="0"/>
                        </div>

                        <div class="col-12">
                            <h3>数量</h3>
                            <input type="text" name="quantity" value="1"/>
                        </div>

                        <div class="col-12">
                            <h3>最终结果</h3>
                            <input disabled type="text" name="ans" value="0"/>
                        </div>

                        <div class="col-12 buttonPart">
                            <button type="button" class="btn btn-primary conformBtn">生成结果</button>
                            <button type="button" class="btn backToIndexBtn">返回首页</button>
                            <button type="reset" class="btn clearBtn">清空</button>
                        </div>

                    </div>
                </form>
            </section>
        </div>
    </section>
</div>

<footer th:replace="footer"></footer>