<head th:replace="header :: head">
</head>
<nav th:replace="navBar :: menu(3)">
</nav>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <img th:src="@{/images/randomElementIllustration.png}" class="rounded mx-auto d-block"
             alt="Icon Image Not Found"
             id="pageIllustration">
        <div class="inner">
            <h1 class="major">
                随机元素
            </h1>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h2 class="alert-heading">欢迎使用随机元素功能</h2>
                <p>在这个页面，您将被允许输入一些您的后选项，系统将帮您解决您的选择困难症。</p>
                <p>您可以在下方的输入框中输入您的选项，用换行键分割不同的元素，随后，系统将帮您做出决定</p>
                <p>请记住，第一次生成的答案一定是对的</p>
                <hr>
                <h3 class="alert-heading">祝您得到您最想要的答案</h3>

            </div>


            <!-- Form -->
            <section>
                <form method="get">
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <h3>候选项</h3>
                            <textarea placeholder="在这里输入后选项，使用换行分割" rows="3"></textarea>
                        </div>

                        <div class="col-12">
                            <h3>最终结果</h3>
                            <input disabled type="text" name="ans" placeholder="结果" value=""/>
                        </div>

                        <div class="col-12 buttonPart">
                            <button type="button" class="btn btn-primary conformBtn">生成结果</button>
                            <button type="button" class="btn backToIndexBtn">返回首页</button>
                            <button type="reset" class="btn clearBtn">清空</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>

<footer th:replace="signature"></footer>
<div th:replace="footer"></div>