<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>托托的工具箱</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/css/noscript.css}"/>
    </noscript>
    <link rel="stylesheet" th:href="@{/css/additional.css}">
</head>
<body class="is-preload">

<!-- Header -->
<!--<header id="header">-->
<!--    <a th:href="@{index}" class="title">托托的工具箱</a>-->
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a th:href="@{index}" class="active">主页</a></li>-->
<!--            <li><a th:href="@{generic}">托托币</a></li>-->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"-->
<!--                   data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    随机万物系统-->
<!--                </a>-->
<!--                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <li><a class="dropdown-item" th:href="@{generic}">随机数</a></li>-->
<!--                    <li><a class="dropdown-item" href="#">随机元素</a></li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->
<!--                    <li><a class="dropdown-item" href="#">随机食物</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li><a th:href="@{logIn}">登录</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</header>-->

<!--Version 2-->
<!--header-->
<header id="header">
    <nav class="navbar navbar-expand-lg" style="background-color: #5e42a6">
        <div class="container-fluid">
            <a th:href="@{index}" class="title">托托的工具箱</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a th:href="@{index}" class="nav-link">主页</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{generic}" class="nav-link">托托币</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" aria-current="page" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            随机万物系统
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{randomNumber}">随机数</a></li>
                            <li><a class="dropdown-item" href="#">随机元素</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">随机食物</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{logIn}" class="nav-link">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <img th:src="@{/images/randomNumberIllustration.png}" class="rounded mx-auto d-block" alt="Icon Image Not Found"
             id="pageIllustration">
        <div class="inner">
            <h1 class="major">
                随机数
            </h1>
            <div class="alert alert-success" role="alert">
                <h2 class="alert-heading">欢迎使用随机数功能</h2>
                <p>在这个页面，您将被允许输入一个起始值，一个结束值，一个生成个数。作为您辛苦输入的回报，你可以得到系统为您生成的随机数。</p>
                <p>这里有两条规则您必须在使用时遵守：</p>
                <p>1：起始值必须小于结束值</p>
                <p>2：结束值-起始值必须大于生成个数</p>
                <hr>
                <h3 class="alert-heading">最后，祝您在规则下玩的开心！</h3>
            </div>


            <!-- Form -->
            <section>
                <form method="post">
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <h3>起始值</h3>
                            <input type="text" name="demo-name" value="0"/>
                        </div>

                        <div class="col-12">
                            <h3>末尾值</h3>
                            <input type="text" name="demo-email" value="0"/>
                        </div>

                        <div class="col-12">
                            <h3>数量</h3>
                            <input type="text" name="demo-email" value="0"/>
                        </div>

                        <div class="col-12">
                            <h3>最终结果</h3>
                            <input disabled type="text" name="demo-email" value="0"/>
                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="生成随机数" class="primary" th:formaction="@{/logIn}"/></li>
                                <li><input type="submit" value="回到首页" class="button" th:formaction="@{/index}"/></li>
                                <li><input type="reset" value="清空" class="button"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>

</div>
</section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper alt">
    <div class="inner">
        <ul class="menu">
            <li>&copy; Created by Pluto.</li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>