<head th:replace="header :: head">
</head>
<nav th:replace="navBar :: menu(3)">
</nav>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <img th:src="@{/images/randomFoodIllustration.png}" class="rounded mx-auto d-block" alt="Icon Image Not Found"
             id="pageIllustration">

        <div class="inner">
            <h1 class="major">
                随机食物
            </h1>

            <div class="alert alert-success" role="alert">
                <h2 class="alert-heading">欢迎使用随机食物功能</h2>
                <p>该功能意在帮助那些不知道吃啥的人</p>
                <p>这里没有规则，点按钮就行了</p>
                <p>记住，第一次出现的答案就是最适合你的</p>

                <hr>
                <h3 class="alert-heading">吃的开心！</h3>
            </div>


            <!-- Form -->
            <section>
                <form method="get">
                    <div class="row gtr-uniform">
                        <div class="col-4">
                            <h3>菜名</h3>
                            <input disabled type="text" th:value="test"/>
                        </div>
                        <div class="col-4">
                            <h3>菜谱作者</h3>
                            <input disabled type="text" th:id="foodAuthor"/>
                        </div>
                        <div class="col-4">
                            <h3>菜谱链接</h3>
                            <input disabled type="text" th:id="foodLink"/>
                        </div>
                        <div class="col-12">
                            <h3>基础配料</h3>
                            <input disabled type="text" th:id="foodDosing"/>
                        </div>
                        <div class="col-12 buttonPart">
                            <button type="submit" class="btn btn-primary conformBtn" onclick="getRandomFood()">生成结果</button>
                            <button type="button" class="btn backToIndexBtn" onclick="goIndex()">返回首页</button>
                            <button type="reset" class="btn clearBtn">清空</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>
<footer th:replace="signature"></footer>
<script type="text/javascript">
    function goIndex() {
        window.location.href="/index"
    }
    function getRandomFood() {
        window.alert("test")
    }
</script>
<div th:replace="footer"></div>
