<head th:replace="header :: head">
</head>
<nav th:replace="navBar :: menu(4)">
</nav>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main" class="wrapper">
        <img th:src="@{/images/signInIllustration.png}" class="rounded mx-auto d-block" alt="Icon Image Not Found" id="pageIllustration">
        <div class="inner">
            <h1 class="major">注册</h1>
            <!-- Form -->
            <section>
                <form method="post">
                    <div class="row gtr-uniform">
                        <h3>邮箱</h3>
                        <div class="col">
                            <input type="text" name="signInEmail" id="signInEmail" value="" placeholder="邮箱"/>
                        </div>
                        <h3>昵称</h3>
                        <div class="col">
                            <input type="text" name="signInUsername" id="signInUsername" value="" placeholder="昵称"/>
                        </div>
                        <h3>密码</h3>
                        <div class="col">
                            <input type="password" name="signInPassword" id="signInPassword" value="" placeholder="密码"/>
                        </div>
                        <h3>重复密码</h3>
                        <div class="col">
                            <input type="password" name="signInRedoPassword" id="signInRedoPassword" value="" placeholder="重复密码"/>
                        </div>
                        <div class="col-12">
                            <div class="col-12 buttonPart">
                                <button type="button" class="btn btn-primary conformBtn">注册</button>
                                <button type="button" class="btn backToIndexBtn">返回首页</button>
                                <button type="reset" class="btn clearBtn">清空</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </section>

</div>
<footer th:replace="signature"></footer>
<div th:replace="footer"></div>