<head th:replace="header :: head">
</head>
<nav th:replace="header :: menu(2)">
</nav>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <section id="main" class="wrapper">
        <img th:src="@{/images/iconIllustration.png}" class="rounded mx-auto d-block" alt="Icon Image Not Found"
             id="pageIllustration">
        <div class="inner">
            <h1 class="major">托托币</h1>
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-lg-6 col-sm-12">
                        <h4>您好:</h4>
                        <h2 th:text="${name}" id="username"></h2>
                        <h4>当前托托币余额为:</h4>
                        <h2 th:text="${balance}" id="userBalance"></h2>
                        <h4>当前绑定好友为:</h4>
                        <h2 th:text="${friend}" id="userFriend"></h2>
                        <h3>转账备注:</h3>
                        <div class="col-10 col-12-xsmall">
                            <input type="text" name="note" id="coinNote" value="" placeholder="备注"/>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12" id="transferPart">
                        <h2>点击按钮以转账：</h2>
                        <button type="button" class="btn btn-outline-primary" id="transferButton"><img
                                id="CoinIllustration" th:src="@{/images/fiftyCentsIllustration.png}"
                                alt="0.5 Tortor Coin Icon Image Not Found"></button>
                        <button type="button" class="btn btn-outline-primary" id="transferButton"><img
                                id="CoinIllustration" th:src="@{/images/oneTorCoinIllustration.png}"
                                alt="1 Tortor Coin Icon Image Not Found"></button>
                        <button type="button" class="btn btn-outline-primary" id="transferButton"><img
                                id="CoinIllustration" th:src="@{/images/twoTorCoinIllustration.png}"
                                alt="2 Tortor Coin Icon Image Not Found"></button>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">日期</th>
                            <th scope="col">金额</th>
                            <th scope="col">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </section>

</div>
<footer th:replace="footer"></footer>